.grid {
  display: grid;
  min-height: 100vh;
  grid-template-rows: min-content auto min-content;
  grid-template-areas: 'header' 'main' 'footer';
}

.side-menu-grid {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas: 'sidebar';
}

.clean-menu-grid {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: min-content auto;
  grid-template-areas: 'header' 'main';
}

.sidebar {
  grid-area: sidebar;
}

.header {
  grid-area: header;
}

.main {
  grid-area: main;
  justify-self: center;
  width: 100%;
  max-width: 120rem;
}

.footer {
  grid-area: footer;
  color: white;
}

.footer-container {
  display: grid;
  grid-template-areas: 'copyright' 'socials';
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.copyright {
  grid-area: copyright;
  font-size: 0.7rem;
}

.social {
  display: flex;
  justify-content: center;
  align-content: center;
  grid-area: socials;
}

.social a {
  margin: 0 0.5rem;
  font-size: 1.5rem;
  color: white;
  transition: all 300ms;
}

.social a:hover {
  color: gainsboro;
}

@media only screen and (max-width: 50rem) {
  .side-menu-grid .header,
  .side-menu-grid .main {
    display: none;
  }
}

@media only screen and (min-width: 50rem) {
  .side-menu-grid {
    grid-template-columns: min-content 1fr;
    grid-template-rows: 3rem auto;
    grid-template-areas: 'sidebar header' 'sidebar main';
  }

  .footer-container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: '. copyright socials';
  }

  .copyright {
    justify-self: center;
  }

  .social {
    justify-self: right;
  }
}
