th {
  text-align: center;
}

.background {
  background-color: #dddcda;
}

.shadow {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.btn-add {
  display: block;
  margin: 0.5rem auto 0.5rem;
}

.dropdown-menu {
  max-height: 15rem;
  overflow-y: auto;
}

.right-align {
  text-align: right;
}

.display-none_lg-screen {
  display: none;
}

.btn-main {
  width: 100%;
}

@media only screen and (min-width: 50rem) {
  .form-control {
    background-color: transparent;
    border-width: 0px;
  }
}

@media only screen and (max-width: 50rem) {
  .display-none_lg-screen {
    display: inline-block;
  }

  .display-none_mobile {
    display: none;
  }
  .timesheet-grid-container {
    display: grid;
    grid-template-columns: auto min-content;
    gap: 1rem;
  }

  .timesheet-grid {
    display: grid;
    grid-template-rows: repeat(4, auto);
    margin: 1rem 0;
  }

  .btn-main {
    height: min-content;
    display: block;
    width: 100%;
    margin: auto;
  }
}
