.btn-time-save {
  margin: 1rem 0 -1.5rem auto;
}

@media only screen and (min-width: 50rem) {
  .grid-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .btn-time-save {
    margin-top: 0rem;
    margin-bottom: 0rem;
  }
}

@media only screen and (max-width: 50rem) {
  .timesheet-grid-container {
    display: grid;
    grid-template-columns: auto min-content;
    gap: 1rem;
  }

  .timesheet-grid {
    display: grid;
    grid-template-rows: repeat(4, auto);
    margin: 1rem 0;
  }
}
