.color {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  margin: auto;
}

.parent {
  margin-top: 2rem;
}

.card {
  background-color: whitesmoke;
  padding: 2rem;
  margin: 1rem;
  border-radius: 0.5rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.data {
  color: rgb(36, 36, 36);
}

.btn {
  width: min-content;
}

.responsive {
  display: none;
}

.controls {
  max-height: 50rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
  justify-items: center;
}

@media only screen and (min-width: 26rem) {
  .controls {
    grid-template-columns: 5fr 4fr;
    grid-template-rows: 1fr;
    justify-items: unset;
  }
  .limit {
    justify-self: right;
  }
}

@media only screen and (min-width: 40rem) {
  .responsive {
    display: table-cell;
  }
}

@media only screen and (min-width: 55rem) {
  .controls {
    grid-template-columns: 7fr 2fr;
  }
}
