:root {
  --main-background: #0c0f19;
  --seconday-background: #dddcda;
  --info: #2c3e50;
}

body {
  background-color: #dddcda;
}

.parent-container {
  padding: 1rem 3rem;
}

.navbar-toggler {
  border: 0;
}

.navbar-toggler:focus {
  border: 0;
  box-shadow: none;
}

.right-align {
  text-align: right;
}

.display-none_lg-screen {
  display: none;
}

@media only screen and (max-width: 50rem) {
  .display-none_lg-screen {
    display: inline-block;
  }

  .display-none_mobile {
    display: none;
  }

  .btn-main {
    height: min-content;
    display: block;
    width: 100%;
    margin: auto;
  }
}
