select {
  background-image: linear-gradient(45deg, transparent 50%, black 60%), linear-gradient(135deg, black 40%, transparent 50%) !important;
  background-position: calc(100% - 30px) 14px, calc(100% - 20px) 14px, 100% 0;
  background-size: 5px 5px, 10px 5px;
  background-repeat: no-repeat;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
}

body {
  background-color: #dddcda;
}

.navbar-toggler {
  border: 0;
}

.navbar-toggler:focus {
  border: 0;
  box-shadow: none;
}

.btn-main {
  width: 100%;
}

.btn-add {
  display: block;
  margin: 0.5rem auto 0.5rem;
}

.dropdown-menu {
  max-height: 15rem;
  overflow-y: auto;
}

.right-align {
  text-align: right;
}

.display-none_lg-screen {
  display: none;
}

@media only screen and (max-width: 50rem) {
  .display-none_lg-screen {
    display: inline-block;
  }

  .display-none_mobile {
    display: none;
  }

  .btn-main {
    height: min-content;
    display: block;
    width: 100%;
    margin: auto;
  }
}

@media only screen and (max-width: 50rem) {
  .timesheet-grid-container {
    display: grid;
    grid-template-columns: auto min-content;
    gap: 1rem;
  }

  .timesheet-grid {
    display: grid;
    grid-template-rows: repeat(4, auto);
    margin: 1rem 0;
  }
}
